{{#if transferring}}
  <div class="loading" data-loading-text="Transferring..."></div>
{{/if}}

{{#if evolving}}
  <div class="loading" data-loading-text="Evolving..."></div>
{{/if}}

{{#if poweringUp}}
  <div class="loading" data-loading-text="Powering Up..."></div>
{{/if}}

<header>
  ({{stats.cp}}CP)
  #{{displayNo}} {{displayName}}
</header>

<img title="A {{name}}{{#if nickname}} named {{nickname}}{{/if}}" height="96" src="{{sprite}}" width="96">

<table>
  <thead>
    <th>Attack</th>
    <th>Defense</th>
    <th>Stamina</th>
  </thead>

  <tbody>
    <td>
      <span title="Base ({{stats.base.attack}}) + IV ({{stats.iv.attack}})">{{attack}}</span>
    </td>
    <td>
      <span title="Base ({{stats.base.defense}}) + IV ({{stats.iv.defense}})">{{defense}}</span>
    </td>
    <td>
      <span title="Base ({{stats.base.stamina}}) + IV ({{stats.iv.stamina}})">{{stamina}}</span>
    </td>
  </tbody>
</table>

{{pokedex.attributes.entry}}

<menu type="toolbar">
  <button name="evolve" type="button">Evolve</button>
  <button name="power-up" type="button">Power Up</button>
  <button name="transfer" type="button">Transfer</button>
</menu>
