{{#if transferring}}
  <div class="loading" data-loading-text="Transferring..."></div>
{{/if}}

{{#if evolving}}
  <div class="loading" data-loading-text="Evolving..."></div>
{{/if}}

{{#if poweringUp}}
  <div class="loading" data-loading-text="Powering Up..."></div>
{{/if}}

<header>
  <div class="no">
    #{{displayNo}}
  </div>

  {{displayName}}

  <div class="cp">
    {{cp}} CP ({{perfection}}%)
  </div>
</header>

<meter max="{{stats.maxHP}}" value="{{stats.currentHP}}"></meter>

<img title="A {{name}}{{#if nickname}} named {{nickname}}{{/if}}" height="215" src="{{sprite}}" width="215">

<table>
  <thead>
    <th>Attack</th>
    <th>Defense</th>
    <th>Stamina</th>
  </thead>

  <tbody>
    <tr>
      <td>
        {{attack}} <span class="text-muted" title="IV Attack">({{stats.iv.attack}})</span>
      </td>
      <td>
        {{defense}} <span class="text-muted" title="IV Defense">({{stats.iv.defense}})</span>
      </td>
      <td>
        {{stamina}} <span class="text-muted" title="IV Stamina">({{stats.iv.stamina}})</span>
      </td>
    </tr>
    <tr>
      <td>
        {{attackPerfection}}%
      </td>
      <td>
        {{defensePerfection}}%
      </td>
      <td>
        {{staminaPerfection}}%
      </td>
    </tr>
  </tbody>
</table>

<ol>
  {{#each moves}}
    <li class="move">
      <span class="name">{{name}}</span>
      <span class="damage">{{damage}}</span>
    </li>
  {{/each}}
</ol>

<menu type="toolbar">
  <div class="primary">
    <button
            {{#unless canPowerUp}}disabled{{/unless}}
            name="power-up"
            title="{{#if canPowerUp}}Power Up ({{toPowerUp.candy}} candy | {{toPowerUp.stardust}} stardust){{else}}Not enough candy or stardust{{/if}}"
            type="button">
      <i class="fa fa-bolt fa-fw"></i>
    </button>

    {{#if toEvolve}}
      <button
              {{#unless canEvolve}}disabled{{/unless}}
              name="evolve"
              title="{{#if canEvolve}}Evolve ({{toEvolve.candy}} candy){{else}}Not enough candy{{/if}}"
              type="button">
        <i class="fa fa-level-up fa-fw"></i>
      </button>
    {{/if}}

    <span>{{candyCount}} candies</span>
  </div>

  <div class="secondary">
    <button name="transfer" title="Transfer" type="button"><i class="fa fa-exchange fa-fw"></i></button>
  </div>
</menu>
